Flask==2.0.1
Flask-Dropzone==1.6.0
Flask-Reuploaded==1.1.0
Flask-Uploads==0.2.1
joblib
matplotlib
numpy
opencv-python==4.5.3.56
pandas
Pillow
PyYAML==5.4.1
scikit-learn
scikit-video==1.1.11
scipy
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tifffile
tqdm
Werkzeug==2.0.1
xgboost==0.90
