Flask==2.0.1
Flask-Dropzone==1.6.0
Flask-Reuploaded==1.1.0
Flask-Uploads==0.2.1
joblib
matplotlib
numpy
opencv-python-headless==4.5.3.56
pandas
Pillow
PyYAML==5.4.1
scikit-learn
scikit-video==1.1.11
scipy
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.5.0-cp39-cp39-manylinux2010_x86_64.whl
tifffile
tqdm
Werkzeug==2.0.1
gunicorn
