@import url('https://fonts.googleapis.com/css?family=Roboto:700');


/* source:  https://codepen.io/yemon/pen/pWoROm */
body, html {
  margin:0px;
  font-family:'Roboto';
  height:  100%;
}

.header{
  width:  100%;
  background-color:  #223753;
  /*height:  100%;*/
}

h2{
  /*color:  #223753;*/
  color:  #ffffff !important;
  background:#223753;
  text-transform: uppercase;
  display:  inline-block;
  margin-top: 50px;
}

.smaller{
  font-size:  smaller;
  margin-bottom:  20px;
}

#main-image{
  background-image: url('../path839.png');
  width:  100%;
  height:  100%;
  background-size:  100%;
  background-repeat:  no-repeat;
  background-position: center ;
}

#container {
  color:#FFFFFF;
  text-transform: uppercase;
  font-size: 36px;
  font-weight:bold;
  padding-top:100px; 
  padding-bottom:  100px; 

  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height: 47px; /* original value: 45px */
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 8s linear infinite;
}

#flip div div {
  background:#42c58a;
}
/*#flip div:first-child div {
  background:#4ec7f3;
}*/
/*#flip div:last-child div {
  background:#DC143C;
}*/

#flip div div.color1 {
  background:#DC143C;
}

img{
  max-width:  100%;
}
#flip div div.color2 {
  background: #F8BA37;
}

#flip div div.color3 {
  background: green;
}

#flip div div.color4 {
  background: #4ec7f3;
}

@keyframes show {
  0% {margin-top:-350px;}
  1% {margin-top:-270px;}
  25% {margin-top:-270px;}
  26% {margin-top:-180px;}
  49% {margin-top:-180px;}
  50% {margin-top:-90px;}
  74% {margin-top:-90px;}
  75% {margin-top:0px;}
  99.9% {margin-top:0px;}
  100% {margin-top:-350px;}
}

/*@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}*/

#model-selection{
  padding-bottom: 100px;
}



/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #223753;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#submit-button{
    height: 40px;
    width: 130px;
    opacity: 100;
    margin-top:  10px;
}

#back-button{
    height: 40px;
    width: 130px;
    opacity: 100;
    position:  relative;
    top:  -50px;
}

.img-80{
  width:  80%;
  margin:  0 auto;
}

.div-center{
  display:  block;
  text-align: center;
}